<h1>Welcome to the Rails Installer Demo!</h1>
<h2>Welcome#index</h2>
<p>Find me in app/views/welcome/index.html.erb</p>


<% if user_signed_in? %>
<%= current_user.email %>
<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
<% else %>
<%= link_to "Login", new_user_session_path %><br />
<%=link_to 'Registration', new_user_registration_path %>
<% end %>

